<app-header></app-header>
<h3>Human nature by default has been programmed to be socially active to a certain extent. Some people are more active, while others are less so!

    However, people have always been looking for ways to connect and network with each other. And, in this age of digitisation, people have found ways to be socially active on the internet, which is possible with the advent of the numerous social networking platforms and apps.
    
    Now, even relationships begin, grow and end on social media. People no longer need a personal handshake or face-to-face meeting.
    <br><br>Social media sites have also grown in numbers by leaps and bounds. As per the statistics revealed on Statista, approximately 2 billion users used social networking sites and apps in 2015. And, with the increased use of mobile devices, this number is likely to cross the 2.6 billion mark by 2018.

    So, in this article, we discuss some of the most popular social media sites that are being explored by the world today. You can find out if your favourite social media platform is a part of this list and even learn about some really good online social platforms that you can start using today.
    
    </h3>
<p>1.Youtube</p>
    <i class="fa fa-youtube-play fa-4x" aria-hidden="true" style="color:red"></i>
    <p>2.Instagram</p>
    <i class="fa fa-instagram fa-4x" aria-hidden="true" style="color:#E1306C"></i>
     <style position:relative;left 30px; ></style>
    <p>3.facebook</p>

    <i class="fa fa-facebook fa-4x" aria-hidden="true" style="color:blue"></i>
    <p>4.Whatsapp</p>

    <i class="fa fa-whatsapp fa-4x" aria-hidden="true" style="color:green"></i>

    <p>5.Twitter</p>

    <i class="fa fa-twitter fa-4x" aria-hidden="true" style="color:rgb(0, 181, 253)"></i>

    <app-footer></app-footer> 