<!DOCTYPE html>
<html>
    <style>
     body {text-align: right;}
    </style>

<head>
    <meta charset="utf-8">
    <title>angular project</title>
</head>
<body>
    <h1 style="text-align: center;">Apps</h1>
    <h2>
    <div class="list-group">
        <a class="list-group-item"><i class="fa fa-home fa-fw" aria-hidden="true" style="color:black"></i>&nbsp;</a>
        <a class="list-group-item" ><i class="fa fa-youtube-play fa-fw" aria-hidden="true" style="color:black"></i>&nbsp;</a>
        <a class="list-group-item" ><i class="fa fa-instagram fa-fw" aria-hidden="true" style="color:black"></i>&nbsp;</a>
        <a class="list-group-item" ><i class="fa fa-facebook fa-fw" aria-hidden="true" style="color: black;"></i>&nbsp;</a>
        <a class="list-group-item" ><i class="fa fa-whatsapp fa-fw" aria-hidden="true" style="color:black;"></i>&nbsp;</a>
      </div>
    </h2>
</body>
</html>   